<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>tagId</key>
		<integer>9</integer>
		<key>name</key>
		<string>Agnostic</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>10</integer>
		<key>name</key>
		<string>Atheist</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>0</integer>
		<key>name</key>
		<string>Buddhist</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>6</integer>
		<key>name</key>
		<string>Catholic</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>5</integer>
		<key>name</key>
		<string>Christian</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>1</integer>
		<key>name</key>
		<string>Hindu</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>2</integer>
		<key>name</key>
		<string>Jain</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>3</integer>
		<key>name</key>
		<string>Jewish</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>4</integer>
		<key>name</key>
		<string>Muslim</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>13</integer>
		<key>name</key>
		<string>Others</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>7</integer>
		<key>name</key>
		<string>Parsi</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>12</integer>
		<key>name</key>
		<string>Sikh</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>8</integer>
		<key>name</key>
		<string>Spiritual</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>11</integer>
		<key>name</key>
		<string>Zoroastrian</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>tagId</key>
		<integer>14</integer>
		<key>name</key>
		<string>Doesn&apos;t Matter</string>
		<key>tagsDtoType</key>
		<string>USER_RELIGION</string>
		<key>order</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
