<!DOCTYPE HTML>

<html>

<head>
  <title>Boost</title>
  
</head>

<body>
<p style="opacity:0.7;"> Based on our analysis here is what you can do to boost your chance of getting match:</p>

<ul>
<li style="margin-bottom:20px;color:red;"><span style="color:#000;"><strong>Sync with Linkedin</strong></span><br>
<span style="color:#000;">65% of profiles liked have complete work and education info.</span></li>
<li style="margin-bottom:20px;color:red;"><span style="color:#000;"><strong>Add cool picture</strong></span><br>
<span style="color:#000;opacity:0.7;">Well chosen clear picture are 50% more likely to be like.</span></li>
<li style="margin-bottom:20px;color:red;"><span style="color:#000;"><strong>Be Regular on the app</strong></span><br>
<span style="color:#000;opacity:0.7;">Our algo master gives preferences to users who are likely to come back.</span></li>
<li style="margin-bottom:20px;color:red;"><span style="color:#000;"><strong>Answer as many question</strong></span><br>
<span style="color:#000;opacity:0.7;">Women need to express a like more through an answer than just looking at a profile.</span></li>
</ul>




</body>

</html>